:root {
  --primary-color: #eaecf1;
  --dark-color: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bg-color,
.alert-primary {
  background: var(--dark-color);
  color: #fff;
}

p {
  font-weight: 100;
  color: grey;
}

span {
  font-weight: 100;
  color: grey;
}

body {
  background-image: linear-gradient(120deg, #fdfbfb 70%, #ebedee 100%);
  background-attachment: fixed;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
  width: 100%;
  opacity: 0.9;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .navbar {
    display: block;
    text-align: center;
  }
}
